<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="test.threee_OpenGeeks"/>
      <class name="test.two_OpenGeeks"/>
      <class name="test.one_OpenGeeks"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
